* html, body, hgroup, h1, h2, h3, ul, li, nav li, p, blockquote, small, footer {
  font: Helvetica;
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}
body {
    scroll-behavior: smooth;
}
h1, h2 {
  font-weight: lighter;
}
h1 {
    font-size: 3em;
}
h2 {
      font-size: 2em;
      padding-top: 0.5em;
      text-align: center;
}
.mainitems {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 5em;
  }
.mainitems h1,
           h2,
           img {
                margin: auto;
}
/*style navigation*/
  nav li {
    color: white;
    font-size: .75em
  }
  nav a {
    color: white;
  }
  nav {
  float: right;
  list-style: none;
  text-transform: uppercase;
}
nav li {
  display: inline;
  margin-right: 20px;
}
nav li:last-child {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}
a {
  text-decoration: none;
}
#logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}
#home, #shapes, #healthy, #transform, #satisfaction, #order {
    height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  }
#home {
  background-color: tan;
}
#home header {
  padding: 30px;
  overflow: auto;
}
#home header p {
  max-width: 50%;
  float: left;
}
#home h1, #home h2, #logo, nav li {
  color: white;
}
#home img {
  max-width: 40em;
}
/*style shapes page*/
#shapes {
  background: url(/assets/images/potato/2/blur.png);
  background-size: cover;
}
#shapes img
#healthy img {
          max-width: 50em;
          padding-top: 25em;
}
/*style healthy page*/

#healthy {
  background: url(/assets/images/potato/3/bg.jpg);
  background-size: cover;
}
#stats {
  display: flex;
  justify-content: space-around;
  margin: 0;
}
#healthy h1,
        #healthy h2,
        #healthy li {
                    color: white;
}
  #stats li,
      #stats h2 {
        margin: auto:
        font-size: 1.5em;
        list-style: none;
}
/*style transform page*/

#transform {
  background-color: tan;
  background-size: cover;
}
#transwrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-height: 15em;
  padding-top: 1em;
  margin: 0;
}
#transwrapper img {
              margin: auto
}
#transwrapper #transtater {
              margin-right: 0;
}
#transwrapper #divider {
              margin: 0;
}
#transwrapper #halfchip {
              margin-left: 0;
}
/*style satisfaction page*/
#satisfaction {
  background: url(/assets/images/potato/2/bg.jpg);
  background-size: cover;
}
.flexslider {
  display: flex;
  justify-content: space-around:
  overflow: hidden;
  margin: 0;
  height: 30vh;
  padding-top: 6em;
}
.flexslider .slides,
.flexslider footer {
                display: inline-flex;
                margin: auto;
}
blockquote {
  font-size: 1.25em;
  display: block;
  text-align: center;
}
.slides blockquote:first-child {
                                opacity: 0.25;
}
.slides blockquote:last-child {
                              opacity: 0.25;
}
.slides footer {
                font-size: .75em;
}
/*style order page*/

#order {
  background-color: Gainsboro;
  background-size: cover;
}
h3 {
  font-size: 2em;
}
.container {
  display: flex;
  flex-direction: row;
  padding-top: 6em;
  margin: 0;
}
.button,
#lite li,
#team li,
#pro li {
          flex: column;
          margin: auto;
}
ul #lite,
  #team {
        border-right: 1px, black;
        padding-right: 5em;
}
#order li {
  font-size: 1.5em;
}
footer nav li {
  color: black;
  }
  .button {
  font-size: 1em;
  color: green;
}
