* html, body, hgroup, h1, h2, h3, ul, li, nav li, p, blockquote, small, footer {
  font: Helvetica;
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}
body {
    scroll-behavior: smooth;
}
h1, h2 {
  font-weight: lighter;
}
h1 {
    font-size: 3em;
}
h2 {
      font-size: 2em;
      padding-top: 0.5em;
}
.mainitems {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding-top: 8em;
  }
.mainitems h1,
           h2,
           img {
                margin: auto;
}
blockquote {
  font-size: 1.5em;
  display: block;
  width: 50vw;
  justify-content: space-around;
}
blockquote p:first-child {
  opacity: 0.5;
}
blockquote p:last-child {
  opacity: 0.5;
}
h3 {
  font-size: 1em;
}
#stats {
  display: flex;
  justify-content: space-around;
  margin: 0;
}
#stats li {
        margin: auto:
        font-size: 1.5em;
        text-decoration: none;
}

#shapes img {
          max-width: 60em;
}
#wrapper {
  display: flex;
  justify-content: space-around:
  overflow: hidden;
  margin: 0;
  height: 30vh;
}
#wrapper img,
          blockquote
          footer {
              display: inline-flex;
              margin: auto;
}
#transwrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-top: 40em;
  margin: 0;
  height: 20vh;
  width: 40vw;
}
#transwrapper #halftater,
              #slider,
              #chips {
              flex: auto;
              align-content: center;
              }
/*style navigation*/
  nav li {
    color: white;
    font-size: .75em
  }
  nav a {
    color: white;
  }
  nav {
  float: right;
  list-style: none;
  text-transform: uppercase;
}
nav li {
  display: inline;
  margin-right: 20px;
}
nav li:last-child {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}
a {
  text-decoration: none;
}
#logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}
#home, #shapes, #healthy, #transform, #satisfaction, #order {
    height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  }
#home {
  background-color: tan;
}
#home header {
  padding: 30px;
  overflow: auto;
}
#home header p {
  max-width: 50%;
  float: left;
}
#home h1, #home h2, #logo, nav li {
  color: white;
}
#home img {
  max-width: 40em;
}
#shapes {
  background: url(/assets/images/potato/2/blur.png);
  background-size: cover;
}
#healthy {
  background: url(/assets/images/potato/3/bg.jpg);
  background-size: cover;
}
#transform {
  background: url(/assets/images/potato/4/bg.jpg);
  background-size: cover;
}
#satisfaction {
  background: url(/assets/images/potato/2/bg.jpg);
  background-size: cover;
}
#order {
  background-color: Gainsboro;
  background-size: cover;
}
.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  margin: 0;
}
ul #lite, #team, #pro {
                      flex: 1;
                      align-items: center;
                      margin: auto;
}
#order li {
  font-size: 1.5em;
}
