* html, body, hgroup, h1, h2, h3, ul, li, nav li, p, blockquote, footer {
  font: Helvetica;
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}
body {
    scroll-behavior: smooth;
  }
hgroup {
    display: flex;
    justify-content: center;
    margin: 0;
}
h1 {
  flex-grow: 1;
  display: center;
  width: 100%;
  font-size: 3em;
  margin: auto;
}
h2 {
  flex-grow: 1;
    display: center;
    width: 100%;
    font-size: 2em;
    font-weight: lighter;
    margin: auto;
}
blockquote {
  font-size: 1.25em;
}
h3 {
  font-size: 1em;
}
/*style navigation*/
  nav li {
    color: white;
    font-size: .75em
  }
  nav a {
    color: white;
  }
  nav {
  float: right;
  list-style: none;
  text-transform: uppercase;
}
nav li {
  display: inline;
  margin-right: 20px;
}
nav li:last-child {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}
a {
  text-decoration: none;
}
#logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}
#home, #shapes, #healthy, #transform, #satisfaction, #order {
    height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  }
#home {
  background-color: tan;
}
#home header {
  padding: 30px;
  overflow: auto;
}
#home header p {
  max-width: 50%;
  float: left;
}
#home h1, #home h2, #logo, nav li {
  color: white;
}
#home .figure  {
  max-width: 40em;
}
#home img {
  max-width: 40em;
}
#shapes {
  background: url(/assets/images/potato/2/blur.png);
  background-size: cover;
}
#healthy {
  background: url(/assets/images/potato/3/bg.jpg);
  background-size: cover;
}
#transform {
  background: url(/assets/images/potato/4/bg.jpg);
  background-size: cover;
}
#satisfaction {
  background: url(/assets/images/potato/2/bg.jpg);
  background-size: cover;
}
#order {
  background-color: Gainsboro;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: space-around;
  margin: 0;
}
#lite, #team, #pro {
  flex: 1;
  align-items: center;
  margin: auto;
}
#order li {
  font-size: .75em;
}
/*--HELPERS*/
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
