html, body {
  font: Helvetica;
  }
  nav ul {
  list-style: none;
  text-transform: uppercase;
  padding: 5px;
}
a {
  text-decoration: none;
}
.home {
  img src: "/assets/images/potato/1/bg.jpg";
}
